:root {
  --main-bg-color: #f1f1f8;
  --main-fg-color: #df98a4;
  --secondary-bg-color: #bebebe;
  --danger-color: #8b0000;
  --main-box-width: 35vw;
  --main-padding-size: 5px;
  --main-font: 1em "Trebuchet MS" sans-serif;
}

body {
  background: var(--main-bg-color);
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--main-box-width);
  font: 5em sans-serif;
  color: var(--main-fg-color);
  opacity: 0.8;
}

.form-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-bg-color);
}

#todo-element,
.todo-list-item-value {
  width: 100%;
  overflow-x: hidden;
  font-size: 1.5em;
  display: block;
  padding: 0;
}

input.todo-list-item-value {
  margin: 0;
  height: 100%;
  outline: none;
  box-shadow: inset 0 0 10px var(--secondary-bg-color);
  border: none;
}

.main {
  background: #fff;
  width: var(--main-box-width);
  box-shadow: 0px 0px 10px var(--secondary-bg-color);
  font: var(--main-font);
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  content: none;
}

input[type="checkbox"]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 15px;
  color: transparent !important;
  background: var(--main-fg-color);
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 7px;
}

input[type="checkbox"]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 15px;
  color: transparent !important;
  background: #fee0fe;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 7px;
}

input[type="checkbox"]:checked:before {
  background: black !important;
}

.todo-list-item {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-bg-color);
  padding: 0 var(--main-padding-size);
}

p.strikethrough {
  text-decoration: line-through;
}

.todo-list-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--main-padding-size);
}

.todo-list-filter-items {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.todo-list-filter-item {
  padding: var(--main-padding-size);
}

.todo-list-filter-item.active {
  border: 1px solid var(--main-fg-color);
  width: fit-content;
  padding: var(--main-padding-size);
  border-radius: 3px;
}

#todo-element {
  background: transparent;
  outline: none;
  border: none;
}

.delete-button,
.close-button,
.complete-button,
.clear-button {
  font: var(--main-font);
  background: transparent;
  outline: none;
  border: none;
}

.delete-button,
.close-button {
  color: var(--danger-color);
  opacity: 0.6;
}

.delete-button:hover,
.close-button:hover {
  opacity: 1;
}

.close-button {
  display: inline;
  float: right;
}

.close-button-icon {
  size: 40;
}

.complete-button {
  color: var(--secondary-bg-color);
  font-size: 35px;
  padding: var(--main-padding-size);
  margin: 3px;
}

.complete-button.active {
  color: #2e2e2e;
}

.clear-button:hover {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}

.undisplay {
  display: none;
}

.error-message {
  max-height: 100px;
  padding: var(--main-padding-size);
}

.error-message h3 {
  color: var(--danger-color);
}

.modal-content {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  box-shadow: 1px 5px 19px rgb(119, 117, 117);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b3;
  z-index: 1000;
}
